<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mapper/mymapper.xml"/>
		<mapper resource="mapper/prodmapper.xml"/>
		<mapper resource="mapper/heomapper.xml"/>
		<mapper resource="mapper/ordermapper.xml"/>
		<mapper resource="mapper/salesmapper.xml"/>
		<mapper resource="mapper/deliverymapper.xml"/>
		<mapper resource="mapper/qnamapper.xml"/>
	</mappers>
</configuration>